@model Tuple<int,IEnumerable<WebCode01.ViewModels.AddMemberViewModel>>
@{
    ViewBag.Title = "Add Member";
}
<h2>Add Member To Project</h2>

<div clss="col-md-4">
    <form id="search" method="post" action="@Url.Action("SearchMember", "ProjectFiles", new { projectId = Model.Item1 })">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" name="search" id="search" />
        <input type="hidden" name="projectId" id="hidden-projectId" />
        <button type="submit" class="btn btn-default">Search For Member</button>
    </form>
</div>
<div class="container">

    @foreach (var item in Model.Item2)
    {
        <div clss="col-md-4">
            <form class="add" method="post" action="@Url.Action("AddMember", "ProjectFiles", new { Id = Model.Item1 },null)">
                <input type="text" name="email" id="email" value="@item.userEmail" readonly />
                <input type="hidden" name="projectId" class="hidden-projectId2" />
                <button type="submit" class="btn btn-default" value="AddMember">ADD</button>
            </form>
        </div>
    }
</div>


@section scripts
{
    <script>
        var id = '@Html.Raw(@ViewBag.projectId)';
            $(document).ready(function () {
                $("#search").submit(function () {
                    $("#hidden-projectId").val(id);
                });
            });
            var Id = '@Html.Raw(@ViewBag.projectId)';
            $(document).ready(function () {
                $(".add").submit(function () {
                    $(".hidden-projectId2").val(Id);
                });
            });

    </script>
}