@model WebCode01.ViewModels.AddMemberViewModel
@{
    ViewBag.Title = "Add Member";
}

<h2>AddMember</h2>

@using (Html.BeginForm("AddMember", "ProjectFiles", FormMethod.Post))
{
        @Html.LabelFor(m => m.userEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(m => m.userEmail)
        @Html.HiddenFor(m => m.projectId, new { @id = "hidden-projectId" })
        <input type="submit" value="Add Member" class="btn-btn-default" />
}

@section scripts
{
    <script>
        var id = '@Html.Raw(@ViewBag.projectId)';
        $("form").submit(function () {
            $("#hidden-projectId").val(id);
        });

    </script>
}