@model WebCode01.ViewModels.ProjectFileViewModel
@{
    ViewBag.Title = "Editor";
}

<h2>Editor</h2>


<div class="row">
    <div id="editor" class="col-md-10">
        @ViewBag.Code
    </div>
</div>

@using (Html.BeginForm("SaveCode", "ProjectFiles", FormMethod.Post))
{
    @Html.HiddenFor(m => m.id,  new { @id = "hidden-id" })
    @Html.HiddenFor(m => m.fileContent, new { @id = "hidden-editor" })
    <input type="submit" value="Save Code" class="btn btn-primary" />
}


@section scripts
{
    <script src="~/AceEditor/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode(mode);
            var id = '@Html.Raw(@ViewBag.id)';
            $("form").submit(function () 
            {
                $("#hidden-id").val(id);
                $("#hidden-editor").val(editor.getSession().getValue());
            });
    </script>

}










    
 


