@model IEnumerable<WebCode01.ViewModels.ProjectFileListViewModel>
@{
    ViewBag.Title = "Project Files";
}

<h2>Project Files</h2>


<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        File Type
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("All Files", "Index", new { projectId = @ViewBag.projectId})</li>
        <li>@Html.ActionLink("C#", "FilesByType", new { projectId = @ViewBag.projectId, fileType = "C#" })</li>
        <li>@Html.ActionLink("C++", "FilesByType", new { projectId = @ViewBag.projectId, fileType = "C++" })</li>
        <li>@Html.ActionLink("Javascript", "FilesByType", new { projectId = @ViewBag.projectId, fileType = "Javascript" })</li>
        <li>@Html.ActionLink("HTML", "FilesByType", new { projectId = @ViewBag.projectId, fileType = "HTML" })</li>
        <li>@Html.ActionLink("CSS", "FilesByType", new { projectId = @ViewBag.projectId, fileType = "CSS" })</li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.fileName, "Editor", new { fileId = item.id})</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>         
    </div>
</div>

<div class="container">
    <span class="row">
        @Html.ActionLink("Upload File", "AddFile", "ProjectFiles", new { projectId = @ViewBag.projectId }, new { @class="btn btn-default"})
        @Html.ActionLink("Add Member", "AddMember", new { projectId = @ViewBag.projectId }, new { @class = "btn btn-default" })
    </span>
</div>