@model IEnumerable<WebCode01.ViewModels.ProjectListViewModel>

@{
    ViewBag.Title = "My Projects";
}

<h2>Your Projects</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group ">
                @Html.ActionLink("Author Projects", "FilterProjects", new { isAuthor = true }, new { @class = "btn btn-default" })
                @Html.ActionLink("Member Projects", "FilterProjects", new { isAuthor = false }, new { @class = "btn btn-default" })
                @Html.ActionLink("My Projects", "Index", "Project", new { @class = "btn btn-default" })
                @Html.ActionLink("Create Project", "CreateProject", "Project", new { @class = "btn btn-default" })
                @Html.ActionLink("Delete Project", "DeleteProject", "Project", new { @class = "btn btn-default" })
            </div>
        </div>
        <div clss="col-md-4">
            <form method="post" action="@Url.Action("ProjectSearch", "Project")">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" name="search" id="search" />
                <button type="submit" class="btn btn-default">Search Project</button>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="cont well col-md-11">
                        <h3>@Html.ActionLink(item.name, "Index", "ProjectFiles", new { projectId = item.id }, null)</h3>
                </div>
           </div>            
        }
    </div>
</div>




