@model IEnumerable<WebCode01.ViewModels.KickMemberViewModel>

@{
    ViewBag.Title = "Kick Member";
}
<div class="container">
    <h2>Kick Member</h2>
    <h4>Your Projects & members</h4>
    <div class="col-sm-12">
        <table class="table table-hover">
            @foreach (var item in Model)
            {
                <thead>
                    <tr>
                        <th><h4><b>@item.name</b></h4></th>
                        <th><h4><b>Members</b></h4></th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in @item.members)
                    {
                        <tr>
                            <td> </td>
                            <td>@member.userEmail</td>
                            <td>@Html.ActionLink("Kick Member", "KickThisMember", "ProjectFiles", new { projectId = @item.projectId, email = member.userEmail, projectName = @item.name }, new { @class = "btn btn-danger" })</td>
                        </tr>
                        }
                </tbody>
            }
        </table>
    </div>
</div>



